body{
    color:white;
    background-color:purple;
    font-family: 'Coda Caption', sans-serif;
}
.jumbotron{
    background-image:url("./assets/images/football-hit.jpg");
    background-size: cover;
    background-color: azure;
    background-blend-mode: multiply;
    opacity:0.9;
 }
 h1{
     font-size: 72px;
     font-family: 'Coda Caption', sans-serif;
}
h2{
    font-family: 'Coda Caption', sans-serif;
}
h3 {
    font-family: 'Coda Caption', sans-serif;
}
#placeholder-section{
    background-color:gold;
    color: black;
}

#placeholders{
    letter-spacing: 6px;
    font-size: 42px;
}